body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcccb; /* Choose your desired background color */
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

    header h1 {
        margin: 0;
    }

    header p {
        margin-top: 5px;
    }

/* Add more styles for header, navigation, content, etc. */

/* Style for the food menu */
.menu-category {
    margin-top: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
    display: none; /* Initially hide all food items */
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

    .food-item:hover {
        transform: scale(1.1);
        background-color: #5cb85c;
        color: white;
    }

    .food-item.selected {
        background-color: #5cb85c; /* Green background for selected items */
        color: white;
    }

/* Style for the order form */
#order-form {
    margin-top: 20px;
    transition: margin-top 0.3s ease-in-out;
}

    #order-form:hover {
        margin-top: 30px; /* Adjust the margin on hover */
    }

    #order-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    #order-form button {
        background-color: #5cb85c;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

#order-summary {
    margin-top: 20px;
    font-weight: bold;
}

/* Style for the photo gallery */
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 10px;
    width: calc(50% - 20px); /* Two images in one line with margin between them */
    height: 200px; /* Set a fixed height for uniformity */
    box-sizing: border-box;
    overflow: hidden; /* Ensure images don't overflow the container */
    transition: transform 0.3s ease-in-out;
}

    .gallery-item:hover {
        transform: scale(1.1);
    }

    .gallery-item img {
        width: 100%;
        height: 100%; /* Make sure both images have the same height */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
        border-radius: 5px;
    }

/* Style for the footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

    footer:hover {
        background-color: #555;
        color: #ffcccb;
    }
